<mat-toolbar color="primary">
    <button mat-icon-button (click)="onMenuToggleClick()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span>Admin Dashboard</span>
    
    <span class="spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button> -->
    </mat-menu>
  </mat-toolbar>