<div class="dashboard-container">
    <app-header (menuToggle)="toggleSidenav()"></app-header>
    
    <mat-sidenav-container>
      <mat-sidenav 
        [mode]="isMobile ? 'over' : 'side'" 
        [opened]="sidenavOpened" 
        [fixedInViewport]="true" 
        [fixedTopGap]="64">
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      
      <mat-sidenav-content>
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  